<%- include("header")%>
<!--  -->
<%- include("nav")%>

<!--  -->

<h1>Forget Password</h1>

<form action="/send-mail" method="POST">
    <input type="email" placeholder="email" name="email" />
    <button>Send Mail</button>
    <br />
</form>

<!--  -->
<%- include("footer")%>
