<nav>
    <% if(!admin) { %>

    <a href="/">Home</a>
    <a href="/signup">Signup</a>

    <% } else { %>

    <a href="/profile">Home</a>
    <a href="/reset">Reset Password</a>
    <a href="/signout">Signout</a>
    <a href="/createpost">Create Post</a>

    <% }%>
    <a href="/about">About</a>
</nav>
